<div class="container">
    
    <nav>
        <div class="nav-wrapper">
          <span class="brand-logo">Edit stats of <b>{{updatedCountry.country}}</b></span>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><ahref="#!/smi">SMI</a></li>
            <li><a href="#!/gdp">GDP</a></li>
            <li><a href="#!/rpc">RPC</a></li>
          </ul>
        </div>
     </nav>
     </br>
    

<table class="highlight">
    <thead>
        <tr>
            <th>Country</th>
            <th>Year</th>
            <th>Smi-year</th>
            <th>Smi-year-variation</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><b>{{updatedCountry.country}}</b></td>
            <td><input class="form-control" ng-model="updatedCountry.year"></td>
            <td><input class="form-control" ng-model="updatedCountry['smi-year']" ></td>
            <td><input class="form-control" ng-model="updatedCountry['smi-year-variation']" ></td>
            <td><a class="btn-floating btn-large red" ng-click="editStats()"><i class="large material-icons">mode_edit</i></a></td>
        </tr>
    </tbody>
</table>  
<a href="#!/smi/">Go back</a>
</div>