<div class="container">
    
            
    <nav>
        <div class="nav-wrapper">
          <span class="brand-logo">Minimum Interprofessional Salary</span>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#!/smi">SMI</a></li>
            <li><a href="#!/gdp">GDP</a></li>
            <li><a href="#!/rpc">RPC</a></li>
          </ul>
        </div>
     </nav>
     </br>
    
    
    <div class="row">
        <div class="input-field col s4">
        <h6 class="text-center">Introduce APIKEY: <b>rXD8D2b1vP</b><input class="form-control" ng-model="apikey"></h6>
        
        </div>
        <div class="input-field col s4" >
            <p class="text-center"><button class="btn waves-effect waves-light red" type="submit" name="action" ng-click="getData()">GET DATA<i class="material-icons right">send</i></button>
        </div>
       <!-- <div class="input-field col s4">
         <h6>Introduce Limit<input class="form-control" ng-model="limit"></h6>
        </div>
        <div class="input-field col s4">
         <h6>Introduce OFFSET<input class="form-control" ng-model="offset"></h6>
        </div>-->
      </div>
      <div class="line">
          
      </div>
    
    <div class="row">
    <h5 class="text-center">SMI of some countries</h5>
    </div>
    
    <div class="row">
        <div class="input-field col s4">
         <h6>Introduce Country<input class="form-control" ng-model="newSearch.country"></h6>
        </div>
        <div class="input-field col s4">
         <h6>Introduce Year<input class="form-control" ng-model="newSearch.year"></h6>
        </div>
        <div class="input-field col s4">
        <a class="btn-floating btn-large red" ng-click="searches()"><i class="large material-icons">search</i></a>
        </div>
     </div>
      
    <table class="highlight">
        <thead>
            <tr>
                <th>Country</th>
                <th>Year</th>
                <th>Smi-year</th>
                <th>Smi-year-variation</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input class="form-control" ng-model="newCountry.country"></td>
                <td><input class="form-control" ng-model="newCountry.year"></td>
                <td><input class="form-control" ng-model="newCountry['smi-year']" ></td>
                <td><input class="form-control" ng-model="newCountry['smi-year-variation']" ></td>
                <td><button class="btn-floating btn-large waves-effect waves-light green" ng-click="addStats()"><i class="material-icons">add</i></button></td>
                <td ><a class="btn-floating btn-large red" ng-click="editStats()"><i class="large material-icons">mode_edit</i></a></td>
            </tr>
            <!-- asume que en el controlador hay un array que se llama stats y genera un tr por cada elemento del array-->
            <tr ng-repeat="stat in stats | startFromGrid: currentPage * pageSize | limitTo: pageSize">
                <td><a href="#!/smi/{{stat.country}}">{{stat.country}}</a></td>
                <td>{{stat.year}}</td>
                <td>{{stat['smi-year']}}</td>
                <td>{{stat['smi-year-variation']}}</td>
                <td><a class="btn-floating btn-large red" ng-click="deleteOneCountry(stat.country,stat.year)"><i class="large material-icons">delete</i></a></td>
                <td><a class="btn-floating btn-large red" href="#!/smi/{{stat.country}}"><i class="large material-icons">mode_edit</i></a></td>
            </tr>
            
    
        </tbody>
        
    </table>
    <div class="line">
        <p class="text-center">
                <button class="btn waves-effect waves-light red" type='button'  ng-disabled='currentPage == 0' ng-click='currentPage = currentPage - 1'>&laquo;</button>
                
                <!-- Navegar a una página especifica-->
                <button  class="btn waves-effect waves-light red" type='button' ng-disabled='currentPage == page.no - 1' ng-click='setPage(page.no)' ng-repeat='page in pages'>{{page.no}}</button>
                
                <!-- Navegar hacia adelante -->
                 <button class="btn waves-effect waves-light red" type='button' ng-disabled='currentPage >= stats.length/pageSize - 1' ng-click='currentPage = currentPage + 1'>&raquo;</button>
        </p>
    </div>
    
    
    <div class="nav-wrapper">
                  <p align="center"> <a class="waves-effect waves-light btn blue" href="#!/analitycs"><i class="material-icons left">trending_up</i>ANALITYCS</a>
                  <a class="waves-effect waves-light btn blue" href="#!/integrations"><i class="material-icons left">trending_up</i>INTEGRATIONS</a></p>
       </div>
    <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col s6">
                  <a class="waves-effect waves-light btn green" ng-click="loadInitialData()"><i class="material-icons left">send</i>LOAD STATS</a>
              </div>
              <div class="col s6">
                  <a class="waves-effect waves-light btn red" ng-click="deleteAllStats()"><i class="material-icons left">delete</i>DELETE ALL</a>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 SOS. José Gallardo Gallardo.
            </div>
          </div>
        </footer>
</div>