<h2>GDP-Population stats list</h2>


<div>First of all, please introduce a valid apikey: (hint: GVAODcH3)
<input class="form-control" ng-model="apikey" placeholder="GVAODcH3">
<button class="btn btn-primary" ng-click="getDataPaginated()">Get All Data</button>
<button class="btn btn-primary" ng-click="loadInitialData()">Load Initial Data</button>
</div>

<div>If you want to delete all countries, you can do it here:</br>
<button class="btn btn-danger" ng-click="deleteAllData()">Delete All Data</button>
</div>

<div>Search for a specific country:</br>
Country: <input class="form-control" ng-model="newSearch.country">
Year: <input class="form-control" ng-model="newSearch.year">
<button class="btn btn-primary" ng-click="search()">Search</button>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Country</th>
            <th>Year</th>
            <th>GDP</th>
            <th>Population</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input class="form-control" ng-model="newCountry.country"/></td>
            <td><input class="form-control" ng-model="newCountry.year"/></td>
            <td><input class="form-control" ng-model="newCountry['gdp-year']"/></td>
            <td><input class="form-control" ng-model="newCountry['population-year']"/></td>
            <td><button class="btn" ng-click="addData()">Add Country</button></td>
        </tr>
        <tr ng-repeat="country in countries">
            <td>{{country.country}}</td>
            <td>{{country.year}}</td>
            <td>{{country['gdp-year']}}</td>
            <td>{{country['population-year']}}</td>
            <td><button class="btn btn-danger" ng-click="deleteOneData(country.country)">Delete</button></td>
            <td><a class="btn" href="#!/gdp/country/{{country.country}}">Edit Country</a></td>
        </tr>
    </tbody>
    
    <div class='btn-group'>
          <button type='button' class='btn btn' ng-disabled='currentPage == 0' ng-click='getPreviousPage()'>Previous Page</button>
          <!--<button type='button' class='btn btn-default' ng-disabled='currentPage == page.no - 1' ng-click='setPage(page.no)' ng-repeat='page in pages'>{{page.no}}</button>-->
          <button type='button' class='btn btn' ng-disabled='currentPage >= usuarios.length/pageSize - 1' , ng-click='getNextPage()'>Next Page</button>
    </div>
    
</table>